.header{
  background: no-repeat center url(../images/background_header.svg);
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}



.header__title{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -.6px;
  margin: 183px 0 0 80px;
  max-width: 729px;
  z-index: 1;
}

.header__span-accent{
  display: block;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
  padding: 0;
  margin: 0;

}

.header__description{
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "Noto Serif", 'Times New Roman', serif;;
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
}

.header__image{
  width: 646px;
  height: 568px;
  padding: 0;
  position: absolute;
  top: 124px;
  right:5px;
}

.header__footer{
  margin: auto 80px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
}

.header__footer-column{
  display: flex;
  flex-direction: column;
}

.header__paragraph{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}