.nav{
  display: flex;
  flex-direction: row;
  margin: 30px 80px 0 30px;
  justify-content: space-between;
}

.nav__links{
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav__logo{
  height: 39px;
  width: 105px;
}
.nav__link{
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color:#000;
  text-decoration: none;
  transition: color .2s ease-in-out;
}
.nav__link:hover{
  color: #2f80ed;
}

