.recipes {
  background: no-repeat center url(../images/background_recipes.svg) #0a2750;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 508px;
  margin: 100px 80px 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 0 80px;
  padding: 0;
}

.recipes__videos {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 80px auto 215px;
  list-style-type: none;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  justify-content: space-between;
  margin: 24px 0 0 0;
}
