.recipes{
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 720px;
  max-height: 828px;

}

.recipes__title{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 508px;
  margin: 100px 80px 24px;
}

.recipes__subtitle{
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 80px;
}

.recipes__videos{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin:80px auto 215px;
}

.recipes__iframe{
  width: 560px;
  height: 315px;
  border: none;
}

.recipes__video-caption{
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  justify-content: space-between;
  margin: 24px 0 0 0;
}