html, body{
  height: 100%;
  margin: 0;
}

.page{
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  height:720px;
  min-height: 100vh;
  max-height: 800px;

}
.header{
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav{
  display: flex;
  flex-direction: row;
  margin: 30px 80px 0 30px;
  justify-content: space-between;
}

.nav__links{
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav__logo{
  height: 39px;
  width: 105px;
}
.nav__link{
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color:#000;
  text-decoration: none;
}

.header__title{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -.6px;
  margin: 183px 0 0 80px;
  max-width: 729px;
}

.header__span-accent{
  display: block;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: italic;
  color: #2f80ed;
  padding: 0;
  margin: 0;

}

.header__description{
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", 'Times New Roman', serif;;
  font-size: 20px;
  line-height: 30px;
}

.header__image{
  width: 646px;
  height: 568px;
  padding: 0;
  position: absolute;
  top: 124px;
  right:5px;

}

.header__footer{
  margin: auto 80px 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;

}

.header__paragraph{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;

}

.recipes{
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 720px;
  max-height: 828px;

}

.recipes__title{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 508px;
  margin: 100px 80px 24px;
}

.recipes__subtitle{
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 80px;
}

.recipes__videos{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin:80px auto 215px;
}

.recipes__iframe{
  width: 560px;
  height: 315px;
  border: none;
}

.recipes__video-caption{
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  justify-content: space-between;
  margin: 24px 0 0 0;
}

.reservation{
  background-color: #D9E7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservation__title{
  margin: 100px auto 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form{
  display: block;
  margin: 0 0 120px;
}

.form__fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.form__fieldset:nth-last-child(1){
  align-items: center;
}

.form__label{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  display: flex;

}

.form__input{
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border: #838383 solid 1px;
  border-radius: 4px;
  max-width: 385px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__input[type="datetime-local"]{
  color: #000;
}

.form__button{
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  transition: opacity .5s;
}

.form__button:hover{
  opacity: .7;
}

.form__checkbox{
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.form__checkbox:checked{
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}

